.conteiner-div{
	position: relative;
}

.fundo {
	/*background-color: white;
	color: white;
	width: 100%;
	height: 247px;
	padding-top: 15px;
	padding-bottom: 15px;
	position: absolute;*/
	position: absolute;
	width: 100%;
    height: 247px;
    background-color: white;
    opacity: 0.5;
}

.texto-div {
	position: relative;
	color: black;
	text-align: center;
	/*margin: 0 auto;
	height:217px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	position: relative;
	background-color: black;*/
	
}

#logo-div {
	text-align: center;
	margin-top: 8%;
	margin-bottom: 20px;
	border-color: black;
	border-width: 50px;
}

#logo {
	margin-bottom: 20px;
	opacity: 0.3;
}

body {
	color: white;
}