body {
	margin: 0;
}

#top {
	background-color: black;
	color: white;
}

#logo {
	width: 60px;
	height: 60px;
}

#logo-name {
	vertical-align: 65%;
	margin-left: 3px;
	font-family: monospace;
	font-weight: bold;
	font-size: 25px;
}

#btnSair {
	color: white;
	vertical-align: 100%;
}

#user-name {
	vertical-align: 110%;
	margin-left: 80%;
	margin-right: 10px;
}


#menubar {
	border: 1px solid #aed0ea !important;
    background: #38B44A !important;
    color: white !important;
    font-weight: bolder !important
}